body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color:#FFFEFB;
}


/* 標題區 */
.title-container {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url('../images/coming.jpg');
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(111, 118, 123, 0.3);
    background-position: center center;
}

.title {
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
}

@media (max-width: 768px) {
    .title {
        font-size: 3.5rem;
    }
    .title-container {
        min-height: 80vh;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }
    .title-container {
        min-height: 60vh;
    }
}
