body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color:#FFFEFB;
}

.title-container {
    margin: 20px 0;
    text-align: center;
}

/* 標題樣式 */
.title {
    font-size: 40px;
    color: #132548;
    font-weight: bold;
}

/* 聯絡卡片樣式 */
.contact-card {
    margin: 15px;
    background-color: #F5F5F5;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header {
    background-color: #596172;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 0px 0px 0 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-content {
    padding: 15px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    text-align: left;
}

.contact-content p {
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    position: relative;
}

.contact-content p:hover {
    color: #3867c0;
}

.copy-text {
    margin-left: 10px;
    margin-right: 10px;
}

.copy-icon {
    display: none;
    margin-left: 1000px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contact-content p:hover .copy-icon {
    display: inline-block;
}

/* 複製成功提示樣式 */
.copy-success {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.copy-success.show {
    display: block;
    opacity: 1;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*表單*/

.form-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

@media (max-width: 768px) {
    .form-section {
        max-width: 95%;
    }
}


/* 問題 */
.form-section .form-label {
    background-color: #FFF9E6;
    padding: 10px;
    display: block;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0px;
    
}

/* 輸入框 */
.form-section .form-control {
    background-color: #FFF;
    border-radius: 0;
    border-top: none;
    padding: 10px;
}

/*核選*/
.check-container{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0;
    border-top: none;
    padding: 10px;
}

/* 表單提交按鈕樣式 */
.form-section .btn-primary {
    background-color: #0B3F61;
    border-color: #0B3F61;
}
.form-section .btn-primary:hover {
    background-color: #0A2D47;
    border-color: #0A2D47;
}

/* 表單提交動畫 */
.response-message {
    display: none;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    animation: fadeInOut 3s forwards;
}
#send{
    margin: 0;
}

/* 表單提交動畫效果 */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.response-message.show {
    display: block;
}

h3 {
    color: #d7ac12;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.text-danger {
    color: #dc3545;
}