body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color:#FFFEFB;
}

.second-navbar {
    background-color: #132548 !important;
}

#logo {
    width: 120px;
    height: 50px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.btn-bounce {
    animation: bounce 3s infinite;
    display: inline-block;
    padding: 5px 10px;
    color: #445C89;
    background-color: #FFF9E6;
    border: 1px solid #FFF9E6;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}


.btn-bounce::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF9E6;
    border-radius: 30px;
    z-index: -1;
}

.btn-bounce::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    background: #FFF9E6;
    border-radius: 30px;
    z-index: -2;
}

#second-list {
    position: relative;
}

#applynow {
    position: absolute;
    bottom: -30%;
    left: -20%;
    /* left: -20%; */
}

.second-navbar .nav-item {
    border-left: 3px solid #FFFFFF;
}

.second-navbar .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.second-navbar .nav-link:hover {
    color: #445C89 !important;
}


.title-container {
    text-align: center; /* 使內容居中 */
    margin: 20px 0; /* 上下邊距 */
}
/* 標題樣式 */
.title {
    font-size: 40px; /* 調整字體大小 */
    color: #132548; /* 深藍色 */
    font-weight: bold; /* 加粗字體 */
}
/* 聯絡卡片樣式 */
.contact-card {
    margin: 15px;
    background-color: #F5F5F5;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 新增陰影效果 */
}

.contact-header {
    background-color: #596172;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 0px 0px 0 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 新增陰影效果 */
}

.contact-content {
    padding: 15px;
    min-height: 150px; /* 設定最小高度 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 對齊到左邊 */
    justify-content: center;
    position: relative;
    text-align: left; /* 文本靠左對齊 */
}

.contact-content p {
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s ease; /* 添加平滑過渡效果 */
    display: flex;
    align-items: center;
    position: relative; /* 確保複製圖示定位在正確位置 */
}

.contact-content p:hover {
    color: #3867c0; /* 鼠標移過去時的顏色 */
}

.copy-text {
    margin-left: 10px; /* 圖示和文字之間的距離 */
    margin-right: 10px; /* 圖示和文字之間的距離 */
}

.copy-icon {
    display: none;
    margin-left: 1000px; /* 圖示和文字之間的距離 */
    cursor: pointer;
    position: absolute; /* 使用絕對定位以確保不影響文本位置 */
    right: 0; /* 讓圖示出現在文本右邊 */
    top: 50%;
    transform: translateY(-50%); /* 垂直居中 */
}

.contact-content p:hover .copy-icon {
    display: inline-block;
}

/* 複製成功提示樣式 */
.copy-success {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28a745; /* 成功的顏色 */
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.copy-success.show {
    display: block;
    opacity: 1;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*表單*/

.form-section {
    max-width: 80%;
    margin: 0 auto; /* 使表單區塊居中 */
    padding: 20px;
    border: 1px solid #ddd; /* 添加邊框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    background-color: #fff; /* 背景顏色 */
}


/* 問題 */
.form-section .form-label {
    background-color: #FFF9E6; /* 問題區塊背景顏色 */
    padding: 10px;
    display: block;
    border-left: 1px solid #ddd; /* 左邊框 */
    border-top: 1px solid #ddd; /* 下邊框 */
    border-right: 1px solid #ddd; /* 右邊框 */
    margin: 0px; /* 調整每個問題區塊間距 */
    
}

/* 輸入框 */
.form-section .form-control {
    background-color: #FFF;
    border-radius: 0; /* 移除圓角 */
    border-top: none; /* 移除上邊框 */
    padding: 10px; /* 輸入框內邊距 */
}

/*核選*/
.check-container{
    border-left: 1px solid #ddd; /* 左邊框 */
    border-bottom: 1px solid #ddd; /* 下邊框 */
    border-right: 1px solid #ddd; /* 右邊框 */
    border-radius: 0; /* 移除圓角 */
    border-top: none; /* 移除上邊框 */
    padding: 10px;
}

/* 表單提交按鈕樣式 */
.form-section .btn-primary {
    background-color: #0B3F61;
    border-color: #0B3F61;
}
.form-section .btn-primary:hover {
    background-color: #0A2D47;
    border-color: #0A2D47;
}

h3 {
    color: #d7ac12; /* 顏色 */
    font-size: 26px; /* 字體大小 */
    text-align: center; /* 水平置中 */
    margin-bottom: 20px; /* 標題底部間距（可根據需要調整） */
}

.text-danger {
    color: #dc3545;
}

footer {
    background-color: #132548 !important;
}