body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #FFFEFB;
}

.navbar {
    z-index: 1000;
}

.second-navbar {
    background-color: #132548 !important;
    z-index: 900;
}

#logo {
    width: 120px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* 區塊標題 */
h3 {
    color: #0B3F61;
    font-size: 26px;
}


.table-h{
    background-color: #445C89 !important;
    color: #fff !important; 
}

.table-h2{
    background-color: #ECE1BF !important; 
    color: #0B3F61 !important; 
}

.table th, .table td {
    padding: 15px 10px;
}


table:not(#table1) {
    border-color: white;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
}

.table1-bg{
    background-color: #FFFCF1 !important;
}
#table1{ 
   width: 60%;
}




/*開頭彩色線*/
.green{
    background-color: #AAC5A8 !important;
}

.orange{
    background-color: #FFD79A !important;
}

.red{
    background-color: #DB8181 !important;
}

.C-first{
    width: 10px;
    padding: 0 !important;
}


.container-title {
    width: 60%;
    margin: 0 auto;
    background: #ECE1BF;
    border-radius: 10px 10px 0 0; 
    font-size: 20px;
    color: #0B3F61;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.container-content {
    position: relative;
    width: 60%;
    margin: 0 auto; 
    background: #FFFCF1;
    border-radius: 0 0 10px 10px; 
    display: flex;
    padding: 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
}

.col {
    flex: 1;
    text-align: center;
    padding: 0 20px;
    color: #132548;
    position: relative; 
}

.col:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5%; 
    height: 80%; 
    width: 2px;
    background-color: #ECE1BF;
}
