body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    z-index: 1000;
}

.second-navbar {
    background-color: #132548 !important;
    z-index: 900;
}

#logo {
    width: 130px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

h3 {
    color: #0B3F61;
    font-size: 26px;
}
h4 {
    color: #0B3F61;
    font-size: 16px;
}
/*時間軸區塊*/
.timeline-container {
    max-width: 80%;
    margin: 50px auto;
    margin-top: 20px;
}
/*時間軸*/
.timeline {
    margin-left: 10%;
    width: 80%;
    position: relative;
    padding: 0px 0;
    list-style: none;
}

/*垂直線*/
.timeline::before {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    width: 2px;
    background: #132548;
    left: 50px;
    margin-left: -1.5px;
}

/*項目(文字)*/
.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

/*添加圓圈 */
.timeline-item::before {
    content: '';
    position: absolute;
    left: 42px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #132548;
    border: 2px solid #132548;
}
.timeline-item p {
    margin: 0;
    padding-left: 90px;
    font-size: 16px;
    color:  #132548;
}
.timeline-item p2 {
    color:  #A73929;
}

.qualification-container {
    max-width: 80%;
    margin: 50px auto;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* 根據需要調整 */
    width: 80px; /* 根據需要調整 */
    margin: 0 auto; /* 使圓圈在列中居中 */
    padding-bottom: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* 圓圈高度 */
    width: 60px; /* 圓圈寬度 */
    border-radius: 50%; /* 圓圈形狀 */
    background-color: #445C89; /* 圓圈顏色 */
    color: white; /* 文字顏色 */
    font-size: 24px; /* 文字大小 */
    font-weight: bold;
    transition: background-color 0.3s; /* 過渡效果 */
}

.circle:hover {
    background-color: #E2D08D; /* 滑鼠移過去的顏色 */
}

.checklist-container {
    max-width: 80%;
    margin: 50px auto;
    margin-top: 20px;
}

.checklist {
    list-style-type: disc; /* 設置點點為圓形 */
    margin-left: 5%; /* 調整列表左邊距 */
    padding-left: 0; /* 取消預設填充 */
    color: #132548; /* 設定文字顏色 */
}

.checklist li {
    margin-bottom: 10px; /* 調整每個項目的底部間距 */
}

footer {
    background-color: #132548 !important;
}