.second-navbar {
    background-color: #132548 !important;
    z-index: 900;
}

#logo {
    width: 120px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.w-content {
    width: 100%;
}

@media (min-width: 768px) {
    .w-content {
        width: 80%;
    }
}