body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden; /* 禁止 body 滚动 */
}

/* 顶部两个 navbar 的样式 */
.navbar {
    z-index: 1000; /* 确保 navbar 在最上层 */
}

.second-navbar {
    background-color: #132548 !important;
    z-index: 900; /* 确保 second-navbar 在 sidebar 之上 */
}

#logo {
    width: 130px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

/* 左侧固定 */
.sidebar {
    position: fixed;
    top: 125px; /* 确保 sidebar 在两个 navbar 下面 */
    left: 0;
    width: 300px; /* 左侧宽度 */
    height: calc(100vh - 125px);
    overflow-y: auto; /* 内容超出时显示滚动条 */
    background-color: #f8f9fa; /* 背景色 */
    border-right: 1px solid #dee2e6; /* 右侧边框 */
}

/* 右侧内容区 */
.content {
    margin-left: 300px; /* 与左侧宽度一致 */
    padding: 20px;
    height: calc(100vh - 125px); /* 计算主内容区的高度：整个视口高度减去两个 navbar 的高度 */
    overflow-y: auto; /* 内容超出时显示滚动条 */
}

.justify-text {
    text-align: justify;
}