body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    z-index: 1000;
}

.second-navbar {
    background-color: #132548 !important;
    z-index: 900;
}

#logo {
    width: 130px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.sidebar {
    left: 0;
    width: 350px;
    height: calc(100vh - 125px);
    overflow-y: auto;
    background-color: #FFFCF1;
    border-right: 1px solid #dee2e6;
}

.list-group a {
    background-color: #FFFCF1;
    border-radius: 0% !important;
    border-left: none !important;
    border-right: none !important;
}

.list-group-item.active {
    background-color: #E2D08D !important;
    border-color: #E2D08D !important;
    font-weight: bolder;
}

.content {
    padding: 20px;
    width: calc(100vw - 350px);
    height: calc(100vh - 125px);
    background-color: #FFFEFB;
    overflow-y: auto;
}

.justify-text {
    text-align: justify;
}

footer {
    background-color: #132548 !important;
}

.with-divider {
    border-left: 1px solid rgba(255, 255, 255, 0.575);
}