/*與首頁相同部分*/
/*-----------------------------------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #FFFEFB;
}

.navbar {
    z-index: 1000;
}

.second-navbar {
    background-color: #132548 !important;
    z-index: 900;
}

#logo {
    width: 120px;
    height: 50px;
}

.navbar-text {
    color: white;
    font-size: 28px;
}

.navbar-nav {
    margin: 0;
}

.fa-arrow-left {
    color: #fff;
    font-size: 24px;
    margin-right: 8px;
    cursor: pointer;
}

/*-----------------------------------------------------------------*/
/* 區塊標題 */
h3 {
    color: #0B3F61;
    font-size: 26px;
}

/* 第一區塊 */
/*-----------------------------------------------------------------*/
/* 外層容器(含標題) */
.container1 {
    max-width: 80%;
    margin: 50px auto;
    margin-top: 20px;
}
/* 內層藍區 */
.container-title {
    position: relative;
    width: 1000px;
    height: 40px;
    top: 30px;
    max-width: 100%;
    margin: 30px auto;
    background: #445C89;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding-top: 20px;
}
/* 內層黃區 */
.container-season{
    position: relative;
    width: 1000px;
    height: auto;
    top: 30px;
    max-width: 100%;
    margin: 30px auto;
    background: #FFFCF1;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: #0B3F61;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
/*四季容器-右分隔線*/
.container,.container-winter{
    position: relative;
}
.container::before{
    content: '';
    position: absolute;
    right: 0;
    top: 20px; /* 調整上邊距 */
    height: 250px; /* 邊框的長度 */
    width: 2.5px; /* 邊框的寬度 */
    background-color: #ECE1BF; /* 設定邊框顏色 */
    margin-right: 20px;
}
.container-winter::before{
    content: '';
    position: absolute;
    right: 0;
    top: 20px; /* 調整上邊距 */
    height: 250px; /* 邊框的長度 */
    width: 2.5px; /* 邊框的寬度 */
    background-color: #ECE1BF; /* 設定邊框顏色 */
    margin-right: 20px;
}
@media screen and (max-width: 767px) {
    .container::before{
        background-color: #FFFCF1;
    }
    .container-winter::before{
        background-color: #FFFCF1;
    }
    .container::after {
        content: '';
        position: absolute;
        bottom: 0; /* 固定到底部 */
        left: 0;
        width: 100%; /* 設定橫線寬度為容器寬度 */
        height: 3px; /* 設定橫線高度 */
        background-color: #ECE1BF; /* 設定橫線顏色 */
    }
    .container-winter::after {
        content: '';
        position: absolute;
        bottom: 0; /* 固定到底部 */
        left: 0;
        width: 100%; /* 設定橫線寬度為容器寬度 */
        height: 3px; /* 設定橫線高度 */
        background-color: #ECE1BF; /* 設定橫線顏色 */
    }
}
@media screen and (max-width: 768px) {
    .container-winter::before{
        background-color: #FFFCF1;
    }
}
@media screen and (max-width: 820px) {
    .container-winter::before{
        background-color: #FFFCF1;
    }
}
@media screen and (max-width: 1024px) {
    .container::before{
        background-color: #FFFCF1;
    }
    .container-winter::before{
        background-color: #FFFCF1;
    }
}
/*四季文字*/
.season{
    color: #0B3F61;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
}
/*四季圖示*/
.image{
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;

}
/* 滑鼠滑過時增加亮度 */
.image:hover {
    filter: brightness(1.2); /* 將亮度設為 1.2 倍，值越大圖片越亮 */
}
/*日期*/
.date{
    display: flex;
    color: #132548;
    font-size: 14px;
    margin-inline: 50px;
    font-weight: bold;
}

/*-----------------------------------------------------------------*/
/*第二區塊*/

/*容器(含標題)*/
.container2 {
    max-width: 80%;
    margin: 80px auto;
}
/*文字容器*/
.container-content {
    max-width: 80%;
    margin: 30px auto;
    color: #0B3F61;
    font-size: 18px;
    position: relative;
}
/*星星列點*/
li {
    list-style: none; /* 移除預設的項目符號 */
}

li::before {
    content: '★'; /* 設定星星符號 */
    margin-right: 8px; /* 設定星星與文字間距 */
    color: #B2955D; /* 星星顏色（可依需求調整） */
    font-size: 20px; /* 星星大小（可依需求調整） */
    justify-content: center;
}

/*-----------------------------------------------------------------*/
/*第三區塊*/
/*容器(含標題)*/
.container3 {
    max-width: 80%;
    margin: 80px auto;
}
/*文字容器*/
.container-content {
    max-width: 80%;
    color: #0B3F61;
    font-size: 18px;
    position: relative;
}
