html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #26385B;
}

#content-card {
    background-color: #FFF9E6;
    width: 90vw;
} 

@media (min-width: 1200px) {
    #content-card {
        height: 750px;
    }
}

#title-card {
    background-color: #FBF1CD;
    color: #0B3F61;
    width: 400px;
    height: 50px;
    top: -20px;
    left: 50px;
}

@media (max-width: 768px) {
    #title-card {
        width: 300px;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.profile-title {
    height: 35px;
}

#content-card .row .col-md-6:nth-child(1) .profile-title {
    background-color: #406F8D;
}

#content-card .row .col-md-6:nth-child(2) .profile-title {
    background-color: #79ACCE;
}

#content-card .row .col-md-6:nth-child(3) .profile-title {
    background-color: #39576B;
}

#content-card .row .col-md-6:nth-child(4) .profile-title {
    background-color: #39576B;
}

.profile-photo {
    width: 200px;
    height: 180px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-info > div {
    height: 200px;
}

.contact-info p {
    margin: 3px;
}