body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* @media (max-width: 1130px) {
    body {
        overflow-x: auto;
    }
} */

#bg {
    background-color: #26385B;
    position: relative;
}

#title-card {
    background-color: #FBF1CD;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -20px;
    left: 50px;
}

#title {
    color: #0B3F61;
}

#back-home {
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 2%;
}

#content-card {
    background-color: #FFF9E6;
    width: 80vw;
    height: 85vh;
    border-radius: 10px;
    position: relative;
}

#content-card > .container-fluid {
    height: 90%;
}
/* .id-card {
    background-color: #FFF9E6 !important;
    border: none;
} */

.grid-item {
    /* background-color: #ffffff;
    border: 1px solid #dee2e6; */
    padding: 20px;
    text-align: left;
}

.profile-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-title {
    font-size: 1.25rem;
    font-weight: bold;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 5%;
    color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

#content-card .container-fluid .row .col-md-6:nth-child(1) .profile-title {
    background-color: #406F8D;
}

#content-card .container-fluid .row .col-md-6:nth-child(2) .profile-title {
    background-color: #79ACCE;
}

#content-card .container-fluid .row .col-md-6:nth-child(3) .profile-title {
    background-color: #39576B;
}

#content-card .container-fluid .row .col-md-6:nth-child(4) .profile-title {
    background-color: #39576B;
}

.profile-body {
    display: flex;
}

.profile-photo {
    width: 200px;
    height: 200px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.contact-info > div {
    height: 200px;
}

.contact-info p {
    margin: 3px;
}