body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #FFFEFB;
}

.second-navbar {
    background-color: #132548 !important;
}

#logo {
    width: 120px;
    height: 50px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.btn-bounce {
    animation: bounce 3s infinite;
    display: inline-block;
    padding: 5px 10px;
    color: #445C89;
    background-color: #FFF9E6;
    border: 1px solid #FFF9E6;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.btn-bounce::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF9E6;
    border-radius: 30px;
    z-index: -1;
}

.btn-bounce::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    background: #FFF9E6;
    border-radius: 30px;
    z-index: -2;
}

#second-list {
    position: relative;
}

#applynow {
    position: absolute;
    bottom: -30%;
    left: -20%;
}

.second-navbar .nav-item {
    border-left: 3px solid #FFFFFF;
}

.second-navbar .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.second-navbar .nav-link:hover {
    color: #445C89 !important;
}

.title-container {
    text-align: center; /* 標題靠左對齊 */
    margin: 20px 0; /* 上下邊距 */
}

.main-title {
    font-size: 40px; /* 調整字體大小 */
    color: #132548; /* 深藍色 */
    font-weight: bold; /* 加粗字體 */
}

/* 影片 */
.video-container {
    position: relative;
    width: 90%; /* 設置容器寬度 */
    max-width: 800px; /* 設置最大寬度 */
    margin: 20px auto; /* 上下邊距，水平居中 */
    border-radius: 15px; /* 圓角 */
    overflow: hidden; /* 隱藏超出圓角邊界的內容 */
}

.video-container::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 比例 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* 去除邊框 */
    border-radius: 15px; /* 圓角 */
}

/* 設定內文的顏色 */
.icon-color {
    color: #B2955D;
    font-size: 24px;
}

.title-color {
    color: #B2955D;
}

.text-color {
    color: #132548;
}



/* 新增區塊樣式 */
.div-container {
    padding: 40px 0;
    max-width: 80%; /* 最大寬度 80% */
    margin: 0 auto; /* 水平居中 */
}
.sub-container {
    max-width: 90%; /* 最大寬度 80% */
    margin: 0 auto; /* 水平居中 */
}

.div-title {
    text-align: left; /* 標題靠左對齊 */
    font-size: 30px;
    font-weight: 900;
    color: #0B3F61;
    margin-bottom: 20px;
    background-color: #F7ECCB;
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    /* 設定寬度為文字內容寬度的稍大值 */
    display: inline-block;
}


.milestone-container {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    gap: 20px; /* 區塊之間的間距 */
    align-items: center; /* 靠左對齊 */
    margin: 0 auto; /* 水平居中 */
    
}

.milestone {
    background-color: #ECEAE8;
    border-radius: 8px;
    padding: 20px;
    text-align: left; /* 內容靠左對齊 */
    width: 90%; /* 里程碑區塊寬度為 100% */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}



.year {
    font-size: 40px;
    color: #B2955D;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: left; /* 靠左對齊 */
}

.description {
    font-size: 18px;
    color: #132548;
    text-align: left; /* 靠左對齊 */
}
h5{
    font-weight: bold;
    color: #132548;
}
ul {
    margin-bottom: 0; /* 移除 ul 底部的 margin */
    padding-bottom: 0; /* 可選: 移除 ul 底部的 padding */
}

#left{
    background-color: #F7ECCB;
    max-width: 20px;
}
#right{
    background-color: #F7ECCB;
    max-width: 20px;
}


footer {
    background-color: #132548 !important;
}

@media (max-width: 1200px) {
    #second-list {
        display: none;
    }
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    font-size: 30px;
    color: inherit;
}

.btn-no-style i {
    border: none;
    background: none;
}

#offcanvasNavbar {
    background-color: #132548;
    color: #FFFFFF;
}

.btn-close {
    filter: invert(100%);
}

.offcanvas-body .nav-link {
    position: relative;
    padding-bottom: 0.5rem;
}

.offcanvas-body .nav-link:hover {
    background-color: #3F5071;
}

.offcanvas-body .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3F5071;
    transition: background-color 0.3s ease;
}