.img-thumbnail {
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border: none;
}

.table, .table th, .table td {
    background-color: transparent !important;
}

.img-fixed-height {
    height: 200px;
    width: 250px;
    object-fit: cover;
    max-width: 100%;
}