html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #445C89;
}

#sidebar {
    background-color: #132548;
    /* height: 100vh; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}