html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #445C89;
}

#sidebar {
    background-color: #132548;
    z-index: 100;
    /* width: 300px; */
}

.logo img {
    max-height: 200px;
}